{% extends 'base.html' %}
{% block content %}

<h1 class="display-1" style="color: #d9b514;"><b>Course<span style="color: #0e6dfd;">Mine</span></b></h1>
<br>
<h6 class="display-1">About Us</h6>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet ut tenetur veniam, 
    id labore cupiditate asperiores optio consequatur dolor facilis autem vel explicabo magnam 
    ex architecto velit quo nostrum officiis! Repellendus, sed hic porro vitae fuga voluptas cupiditate vel? 
    Quidem labore id tempore optio possimus numquam ducimus. Quaerat, culpa! Assumenda necessitatibus ratione dolores 
    sapiente expedita voluptatibus dolorum possimus modi! Quasi reiciendis quam, dolorum sunt sapiente neque nesciunt perspiciatis, 
    eos pariatur dicta excepturi? Sequi, eos? Nulla placeat perferendis obcaecati natus officia, sapiente ab hic cupiditate facere 
    accusantium iure sequi at alias accusamus fugit quas quasi dolorum quo est ducimus! Voluptatem accusantium neque facilis repellat 
    similique. Id maiores est voluptatum dolorem facilis soluta, laborum debitis eos quas quidem adipisci nisi amet molestiae vero 
    ipsam modi. Doloremque esse, quasi, asperiores ipsum laudantium nemo illo aperiam natus mollitia eos quibusdam molestias 
    accusantium enim odio laborum fugit tenetur autem nam consectetur tempora dignissimos atque. Sit dolor necessitatibus 
    quisquam reiciendis ipsam nihil laborum ad doloribus debitis dignissimos, quam, unde veritatis distinctio architecto quas 
    dolore, dolorum illum atque ratione error explicabo veniam consequuntur! Rem distinctio veritatis nostrum voluptas. 
    Magni dolorem ex facere similique delectus. A et tenetur porro error necessitatibus quis! Vero consequatur, iusto cum aspernatur
     assumenda aperiam tempore facere fugit distinctio possimus rem molestias laborum repellendus ducimus voluptates fuga aliquid sunt
      harum animi recusandae nemo eligendi? Fugiat quis dolor provident incidunt non doloribus ad facere et! Pariatur repellendus 
      molestias dolores consequatur natus accusamus rem dolore eum molestiae obcaecati vel, illo harum, neque autem est nobis ea 
      deserunt fuga, laboriosam necessitatibus impedit incidunt. Nihil ducimus recusandae repellat, sint reiciendis nostrum explicabo! 
      Perspiciatis, aut quas. Totam distinctio ad aliquam praesentium id earum, maxime perferendis porro itaque optio eum assumenda 
      eius animi corporis saepe! Enim sunt recusandae aperiam qui dignissimos. Asperiores distinctio assumenda aut 
      repudiandae aspernatur quo sit non unde eligendi odit? Quis qui distinctio veniam odio similique labore, 
      ut quibusdam exercitationem, voluptate rerum enim ad eligendi facilis perferendis. Eum, voluptatibus assumenda, 
      consequuntur eius ab possimus doloremque architecto quos odio dolores mollitia sapiente. Aspernatur necessitatibus 
      distinctio nulla ducimus quibusdam accusamus, earum laboriosam modi velit iusto pariatur repudiandae minima voluptatibus 
      quas placeat, doloremque saepe. Qui optio quis omnis deserunt maxime asperiores debitis fugit dicta facere cupiditate, 
      obcaecati illum pariatur dolore sapiente sed delectus nam explicabo nulla. Maiores nesciunt commodi modi architecto 
      facere perspiciatis inventore sequi et, animi ipsum sint veniam quae ratione magni consequuntur sunt nisi provident 
      repellendus consequatur! Maiores.
</p>
<br>
<h6 class="display-1">What we stand for</h6>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet ut tenetur veniam, 
    id labore cupiditate asperiores optio consequatur dolor facilis autem vel explicabo magnam 
    ex architecto velit quo nostrum officiis! Repellendus, sed hic porro vitae fuga voluptas cupiditate vel? 
    Quidem labore id tempore optio possimus numquam ducimus. Quaerat, culpa! Assumenda necessitatibus ratione dolores 
    sapiente expedita voluptatibus dolorum possimus modi! Quasi reiciendis quam, dolorum sunt sapiente neque nesciunt perspiciatis, 
    eos pariatur dicta excepturi? Sequi, eos? Nulla placeat perferendis obcaecati natus officia, sapiente ab hic cupiditate facere 
    accusantium iure sequi at alias accusamus fugit quas quasi dolorum quo est ducimus! Voluptatem accusantium neque facilis repellat 
    similique. Id maiores est voluptatum dolorem facilis soluta, laborum debitis eos quas quidem adipisci nisi amet molestiae vero 
    ipsam modi.
</p>
<br>
<h6 class="display-1">Our Values</h6>
<div class="row">
    <div class="col-sm-3 ">
      <div class="card text-bg-primary">
        <div class="card-body">
          <h5 class="card-title">Lorem Ipsum</h5>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, eveniet similique sequi obcaecati ducimus inventore!</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 ">
      <div class="card text-bg-success">
        <div class="card-body">
          <h5 class="card-title">Lorem Ipsum</h5>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, eveniet similique sequi obcaecati ducimus inventore!</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 ">
      <div class="card text-bg-warning">
        <div class="card-body">
          <h5 class="card-title">Lorem Ipsum</h5>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, eveniet similique sequi obcaecati ducimus inventore!</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card text-bg-secondary">
        <div class="card-body">
          <h5 class="card-title">Lorem Ipsum</h5>
          <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, eveniet similique sequi obcaecati ducimus inventore!</p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
