{% extends 'base.html' %}

{% block content %}
<br>
<h1 class="card-title fw-bold">You have something to ask or tell us? Let us know...</h1>
<br><br>
<form action="" class="row g-3">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" required>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Your message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Type your message here..." required></textarea>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Send Message</button>
      </div>
</form>
{% endblock content %}