{% extends 'base.html' %}

<body>
    {% block content %}
    <br>
    <h1>Welcome to our online school</h1>
    <br>
    {% if searchTerm %}
    <h6 class="card-title fw-bold">Showing results for "{{ searchTerm }}"</h6>
    {% endif %}
    {% if null %}
    <h3 class="card-title fw-bold">{{ null }}</h3>
    {% endif %}
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for course in courses %}
        <div v-for="course in courses" class="col">
          <div class="card">
            <img class="card-img-top" src="{{ course.cover.url }}" />
            <div class="card-body">
              <h5 class="card-title fw-bold">{{ course.name }}</h5>
              <p class="card-text">{{ course.description }}</p>
              <h5 class="card-title fw-bold">$ {{ course.fee }}</h5>
              <a href="#" class="btn btn-primary">Enroll</a>
              {% if course.resources %}
              <a href="{{ course.resources }}" class="btn btn-primary">
                Resources
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    {% endblock content %}
</body>
</html>