{% extends 'base.html' %}


    {% block content %}
    <br>
    <h1 class="card-title fw-bold">Welcome to our online school</h1>
    <br>
    {% if searchTerm %}
    <h6 class="card-title fw-bold">Showing results for "{{ searchTerm }}"</h6>
    {% endif %}
    {% if null %}
    <br><br>
    <h3 class="card-title fw-bold"><p class="lead">{{ null }}</p></h3>
    {% endif %}
    <br>
    {% if user.is_authenticated %}
    {% if enroll_excluded %}
    <h3 class="card-title fw-bold"><p class="lead">Your Enrolled Courses</p></h3>

    <div class="row row-cols-1 row-cols-md-3 g-4" >
      {% for course in enroll_excluded %}
      <div v-for="course in courses" class="col">
        <div class="card">
          <img class="card-img-top" src="{{ course.cover.url }}" />
          <div class="card-body">
            <h5 class="card-title fw-bold">{{ course.name }}</h5>
            <p class="card-text">{{ course.description }}</p>
            <h5 class="card-title fw-bold">$ {{ course.fee }}</h5>
            <a href="{% url 'details' course.id %}" class="btn btn-primary">Resume Course</a>
            {% if course.resources %}
            <a href="{{ course.resources }}" class="btn btn-primary">
              Resources
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}


    {% if not_enrolled %}
    <h3 class="card-title fw-bold"><p class="lead">Available Courses</p></h3>

    <div class="row row-cols-1 row-cols-md-3 g-4" >
      {% for course in not_enrolled %}
      <div v-for="course in courses" class="col">
        <div class="card">
          <img class="card-img-top" src="{{ course.cover.url }}" />
          <div class="card-body">
            <h5 class="card-title fw-bold">{{ course.name }}</h5>
            <p class="card-text">{{ course.description }}</p>
            <h5 class="card-title fw-bold">$ {{ course.fee }}</h5>
            <a href="{% url 'details' course.id %}" class="btn btn-primary">Enroll</a>
            {% if course.resources %}
            <a href="{{ course.resources }}" class="btn btn-primary">
              Resources
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endif %}

    {% if not user.is_authenticated %}
    
    <div class="row row-cols-1 row-cols-md-3 g-4" >
        {% for course in courses %}
        <div v-for="course in courses" class="col">
          <div class="card">
            <img class="card-img-top" src="{{ course.cover.url }}" />
            <div class="card-body">
              <h5 class="card-title fw-bold">{{ course.name }}</h5>
              <p class="card-text">{{ course.description }}</p>
              <h5 class="card-title fw-bold">$ {{ course.fee }}</h5>
              <a href="{% url 'details' course.id %}" class="btn btn-primary">Enroll</a>
              {% if course.resources %}
              <a href="{{ course.resources }}" class="btn btn-primary">
                Resources
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}

    {% endblock content %}
