{% extends 'base.html' %}
{% block content %}
<div class="container">
  
  <div class="container overflow-hidden">
    <div class="row gx-5">
      <div class="col">
       <div class="p-3 border bg-light">
          <div class="card" style="width: fit-parent;">
            <div class="card-body">
              <h5 class="card-title">Welcome, {{ user.first_name }} {{user.last_name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">This is your dashboard</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Start Course</a>
              <a href="#" class="card-link">Resources</a>
            </div>
        </div>
       </div>
      </div>
      <div class="col">
        <div class="p-3" style="width: 13rem; background: rgba(255, 255, 255, 0);">
          <div class="container">
            <button type="button" class="btn btn-primary position-relative btn-lg">
              Edit Profile
              <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
              </span>
            </button>
          </div>
            <br>
          <div class="container">
            <button type="button" class="btn btn-primary position-relative btn-lg">
              Notifications
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                99+
                <span class="visually-hidden">unread messages</span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End of top section -->
  <br>
  <h4 class="display-6">These are your registered courses...</h4>

</div>
{% endblock content %}
