{% extends 'base.html' %}
{% block content %}
<div class="container">
  
  <div class="container overflow-hidden">
    <div class="row gx-5">
      <div class="col">
       <div class="p-3 border bg-light">
          <div class="card" style="width: fit-parent;">
            <div class="card-body">
              <h5 class="card-title">Welcome, {{ user.first_name }} {{user.last_name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">This is your dashboard</h6>
              <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam magni quasi sed obcaecati nihil quibusdam.</p>
            </div>
        </div>
       </div>
      </div>
      <div class="col">
        <div class="p-3" style="width: 13rem; background: rgba(255, 255, 255, 0);">
          <div class="container">
            <button type="button" class="btn btn-primary position-relative btn-lg">
              Edit Profile
              <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
              </span>
            </button>
          </div>
            <br>
          <div class="container">
            <button type="button" class="btn btn-primary position-relative btn-lg">
              Notifications
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                99+
                <span class="visually-hidden">unread messages</span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End of top section -->
  <br>
  <h4 class="display-6">These are your registered courses...</h4>
  <br>
  <div class="row row-cols-1 row-cols-md-3 g-4" >
    {% for items in courses %}

    {% for course in items %}
    <div v-for="course in courses" class="col">
      <div class="card">
        <img class="card-img-top" src="{{ course.cover.url }}" />
        <div class="card-body">
          <h5 class="card-title fw-bold">{{ course.name }}</h5>
          <p class="card-text">{{ course.description }}</p>
          <a href="{% url 'resume_course' course.name %}" class="btn btn-primary">Resume Course</a>
          {% if course.resources %}
          <a href="{{ course.resources }}" class="btn btn-primary">
            Resources
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
    {% endfor %}
  </div>

</div>
{% endblock content %}
