{% extends 'base.html' %}
{% block content %}
<div class="card mb-3">
  <div class="row g-0">
    <div>
      <div class="card-body">
        <h5 class="card-title">Sign Up</h5>
        {% if error %}
        <div class="alert alert-danger mt-3" role="alert">
            {{ error }}
        </div>  
        {% endif %}
        <p class="card-text">
          <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">First Name</label>
              <input type="text" class="form-control"  name="first_name" required>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Last Nmae</label>
              <input type="text" class="form-control"  name="last_name" required>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email</label>
              <input type="email" class="form-control" name="email" placeholder="name@example.com" required>
            </div>
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
